/* Set-up */
body {
  color: rgb(6, 106, 117);
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 100%;
  background: #F4F6F8;
  padding: 3em 0 0 0;
  line-height: 62px;
  -webkit-perspective: 1000px; /* <-NB */
}

.nav{
  width: 100%;
  text-align:center;

}

/* Container box to set the sides relative to */
.cube {
  width: 10%;
  text-align: center;
  margin: 0 auto;
  height: 100px;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;

  -webkit-transition: -webkit-transform .33s;
  transition: transform .33s; /* Animate the transform properties */

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189, .8);

  -webkit-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  height: 100px;
}

/* Position the faces */
.flippety {
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
}

.flop {
 
  -webkit-transform: rotateX(-90deg) translateZ(-50px);
  transform: rotateX(-90deg) translateZ(-50px);
}

/* Rotate the cube */
.cube:hover {
  -webkit-transform: rotateX(89deg);
  transform: rotateX(89deg); /* Text bleed at 90º */
}